<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		
		<!-- css -->
		<link rel="stylesheet" href="{{PRIVATE_URI}}views/_css/bootstrap.min.css">
		<link rel="stylesheet" href="{{PRIVATE_URI}}views/_css/datepicker3.css">
		<link rel="stylesheet" href="{{PRIVATE_URI}}views/_css/bootstrap-table.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{PRIVATE_URI}}views/_css/style.css">
		
		<!-- js -->
		<script src="{{PRIVATE_URI}}views/_js/jquery-1.11.2.min.js"></script>
		<script src="{{PRIVATE_URI}}views/_js/bootstrap.min.js"></script>
		<script src="{{PRIVATE_URI}}views/_js/bootstrap-datepicker.js"></script>
		<script src="{{PRIVATE_URI}}views/_js/bootstrap-table.min.js"></script>
		<script src="{{PRIVATE_URI}}views/_js/scripts.js"></script>
	</head>
	<body>
		
		<div id="wrapper">
			{% include '_includes/menu.twig' %}
			<div id="page-wrapper">
				{% block page %}{% endblock %}
			</div>
		</div>

		<div class="modals">
			{% block modals %}{% endblock %}
		</div>

	</body>
</html>